/* === MODAL === */

/* general styles */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9;
  opacity: 0;
  transition: 0.2s;
  pointer-events: none;
  background-color: rgba(15, 0, 29, 0.9);
}
.modal .content {
  position: relative;
  margin: 20px;
  width: 100%;
  max-width: 400px;
  height: min-content;
  border-radius: 15px;
  background-color: #ddd;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal.active .content {
  animation: popup 0.4s;
}
@keyframes popup {
  0% {
    transform: scale(0.8);
  }
  60% {
    transform: scale(1.2);
  }
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 9;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: none;
  color: #555;
  background-color: #ddd;
  cursor: pointer;
}

/* === CUSTOM MODALS === */

/* sent-popup */
.sent-popup {
  text-align: center;
}
.sent-popup .content {
  padding: 60px 40px;
  background-color: #b361f7;
}
.sent-popup h2 {
  color: #ddd;
  margin-bottom: 16px;
}
.sent-popup p {
  color: #ddd;
}

/* image-zoom */
.image-zoom .content {
  position: absolute;
  margin: 20px;
  max-width: 100%;
  background-color: transparent;
}
.image-zoom .close {
  position: fixed;
}
.image-zoom .image-container {
  display: block;
  position: relative;
  max-width: 600px;
  padding-top: 600px;
  margin: auto;
}
.image-zoom .content img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .image-zoom .content {
    padding: 20px;
  }
  .image-zoom .image-container {
    padding-top: 100%;
  }
}
