/* === GENERAL STYLES === */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #444;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 16px;
}
li {
  list-style-type: none;
}
a {
  font-size: 1rem;
  font-weight: 600;
  transition: 0.2s ease-out;
  outline: none;
}
a:hover,
a:focus {
  opacity: 0.75;
}
i,
p {
  transition: 0.2s ease-out;
}
#root > section,
#root > main,
#root > footer {
  margin-top: 80px;
}

/* slick */
.slick-prev,
.slick-next {
  z-index: 1 !important;
  transform: scale(1.5) !important;
}
.slick-prev::before,
.slick-next::before {
  color: #7b2cbf !important;
  transition: 0.2s;
}
.slick-prev {
  left: 0px !important;
}
.slick-next {
  right: 0px !important;
}
.slick-dots li {
  transform: scale(2);
}
.slick-dots li button::before {
  color: #4e1183 !important;
}
.slick-dots li.slick-active button::before {
  color: #4e1183 !important;
}
#portfolio .slick-prev,
#portfolio .slick-next {
  transform: scale(2.5) !important;
}
#portfolio .slick-prev {
  left: 20px !important;
}
#portfolio .slick-next {
  right: 20px !important;
}
@media (max-width: 768px) {
  #portfolio .slick-prev,
  #portfolio .slick-next {
    transform: scale(1.75) !important;
  }
  #portfolio .slick-prev {
    left: 8px !important;
  }
  #portfolio .slick-next {
    right: 8px !important;
  }
}

/* sizes and spaces of the page */

.container {
  max-width: 960px;
  margin: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
    max-width: 540px;
  }

  #root > section,
  #root > main,
  #root > footer {
    margin-top: 40px;
  }
}
