.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 408px;
  margin-top: 0px !important;
  background-image: url("assets/images/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.whiteOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #fff;
}
.content {
  position: relative;
  max-width: 615px;
  text-align: center;
  z-index: 1;
}
.hero h2 {
  font-size: 64px;
  margin-bottom: 40px;
}
.hero button:first-child {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .hero h2 {
    font-size: 48px;
  }
}
@media (max-width: 480px) {
  .hero h2 {
    font-size: 28px;
    margin-bottom: 30px;
  }
}
