/*
======== INDEX ========
GENERAL STYLES
    links
    active
    buttons
    icons
    sizes and spaces of the page
    image zoom
TOPBAR
MAIN-HEADER
HERO
ABOUT
SERVICES
CLIENT
PORTIFOLIO
TESTIMONIALS
CTA
OUR-TEAM
CONTACT-US
MAIN-FOOTER
=======================
*/

/* === GENERAL STYLES === */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #444;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
}

body {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: #7b2cbf;
  margin-bottom: 20px;
}

h3 {
  margin-bottom: 6px;
}

li {
  list-style-type: none;
}

/* links */

a {
  font-size: 15px;
  font-weight: 600;
  transition: 0.2s ease-out;
  outline: none;
}

a:focus,
a:active,
a:hover {
  color: #b361f7;
}

/* buttons */

button {
  text-align: center;
  cursor: pointer;
  border: none;
  transition: 0.2s ease-out;
}

.main-button {
  display: inline-block;
  color: #fff;
  text-align: center;
  min-width: 140px;
  padding: 10px 0;
  background-color: #7b2cbf;
  transition: 0.2s ease-out;
}

.main-button:hover {
  background-color: #b361f7;
}

.cta-button {
  margin-left: 32px;
  border-radius: 5px;
  border: 2px solid #fff;
}

.contact-form-btn {
  cursor: pointer;
  margin: auto;
}

.hamburger {
  display: none;
  font-size: 24px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: unset;
}

.hamburger i {
  color: #7b2cbf;
  transition: 0.2s;
}

.hamburger:hover i {
  color: #b361f7;
}

/* active */

.active-translate {
  transform: translateX(0) !important;
}

/* icons */

.md-icon {
  font-size: 50px;
  color: #7b2cbf;
}

.sm-icon {
  font-size: 20px;
  transition: 0.2s ease-out;
}

.sm-icon:hover {
  color: #7b2cbf;
}

/* sizes and spaces of the page */

.main-container {
  max-width: 960px;
  margin: auto;
  padding: 0 10px;
}

#about,
#services,
#clients,
#portfolio,
#testimonials,
#cta,
#our-team,
#contact-us,
#main-footer {
  margin-top: 80px;
}

.section-header {
  margin-bottom: 30px;
}

/* === TOPBAR === */

#topbar {
  border-bottom: 1px solid rgba(73, 78, 92, 0.2);
}

#topbar-content,
#contact-info-container,
.social-links,
.contact-info {
  display: flex;
}

#topbar-content {
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.contact-info {
  margin-right: 24px;
}

.contact-info .sm-icon {
  margin-right: 6px;
}

.social-links a {
  display: inline-block;
  padding: 0 12px;
}

.social-links a + a {
  border-left: 1px solid rgba(73, 78, 92, 0.2);
}

/* === MAIN-HEADER === */

#main-header {
  position: sticky;
  top: 0;
  z-index: 4;
  background-color: #fff;
}

#main-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

#main-header-content h1 {
  color: #7b2cbf;
  user-select: none;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar .social-links {
  display: none;
}

/* === HERO === */

#hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 408px;
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-color: #fff;
}

#hero-content {
  position: relative;
  max-width: 615px;
  text-align: center;
  z-index: 1;
}

#hero-content h2 {
  font-size: 64px;
  margin-bottom: 40px;
}

#hero-content .main-button {
  margin: 0 2px;
}

/* === ABOUT === */

#about-content {
  display: flex;
  justify-content: space-between;
}

#about-image {
  width: 48%;
}

#about-text {
  width: 48%;
}

#about-image img {
  width: 100%;
}

#about-text-header p {
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  margin-bottom: 24px;
}

#about-list-header li {
  display: flex;
  margin-bottom: 16px;
}

#about-list-header .sm-icon {
  color: #7b2cbf;
  margin-right: 10px;
}

/* === SERVICES === */

#services-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.services-card {
  display: flex;
  width: 49%;
  margin: 15px 0;
  padding: 40px;
  box-shadow: 10px 10px 15px rgba(73, 78, 92, 0.25);
  transition: 0.5s;
}

.services-card:hover {
  transform: translateY(-10px);
}

.services-card i {
  margin-right: 20px;
}

/* === CLIENT === */

#client-carousel-container {
  overflow: hidden;
}

.client-logo {
  min-width: 80%;
  width: 80%;
  margin: auto;
  opacity: 0.6;
  transition: 0.3s ease-out;
}

/* === PORTIFOLIO === */

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product {
  width: 300px;
  margin-bottom: 30px;
  overflow: hidden;
}

.product-content {
  position: relative;
  width: 100%;
  padding-top: 100%;
  transition: 0.5s ease-in-out;
}

.product-content:hover {
  transform: translateY(-10%);
}

@media (max-width: 768px) {
  .product-content {
    transform: translateY(-10%);
  }
}

.product-image-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.product-description {
  position: absolute;
  bottom: -25%;
  left: 0;

  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 25%;
  padding: 0 20px;
  background-color: #7b2cbf;
  transition: 0.5s ease-in-out;
}

.product-content:hover .product-description {
  transform: translateY(-60%);
}

@media (max-width: 768px) {
  .product-content .product-description {
    transform: translateY(-60%);
  }
}

.product-description h3,
.product-description p,
.product-description i {
  color: #fff;
}

.product-header {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-buttons {
  align-self: center;
}

.product-image-zoom,
.product-page {
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
  margin: 5px;
  background-color: unset;
}

/* image zoom */

.image-zoom {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.8);
}
.image-zoom.active {
  opacity: 1;
  pointer-events: all;
}

.image-zoom-content {
  display: flex;
  align-items: center;
  width: min-content;
}

.zoom-image {
  max-width: 95vw;
  max-height: 95vh;
  transition: 0.2s;
}

.prev-arrow,
.next-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 45px;
  height: 45px;
  color: #000;
  border: none;
  border-radius: 50%;
  transition: 0.4s;
  background-color: #fff;
}

.prev-arrow:hover,
.next-arrow:hover {
  background-color: #ddd;
}

.prev-arrow {
  left: 10px;
}

.next-arrow {
  right: 10px;
}

.prev-arrow i,
.next-arrow i {
  color: #7b2cbf;
  font-size: 20px;
}

.close-zoom {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  border: none;
  background-color: unset;
  transition: 0.2s;
}

.close-zoom:hover {
  color: #ddd;
}

/* === TESTIMONIALS === */

#testimonials-container {
  display: flex;
  justify-content: space-between;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 310px;
  padding: 30px 10px;
  border-radius: 10px;
  border: 2px solid rgba(73, 78, 92, 0.2);
}

.quote {
  display: flex;
  text-align: center;
}

.quote i {
  font-size: 32px;
  color: #7a2cbf25;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 24px;
}

/* === CTA === */

#cta {
  background-color: #7b2cbf;
  padding: 40px 0;
}

#cta h2,
#cta p {
  color: #fff;
}

.cta-content {
  display: flex;
  align-items: center;
}

/* === OUR-TEAM === */

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
}

.team-card {
  width: 24%;
  margin-bottom: 12px;
}

.image-team-container {
  position: relative;
  width: 100%;
  padding-top: 120%;
}

.image-team {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-descripttion {
  text-align: center;
  padding: 16px 8px;
  background-color: #7b2cbf;
}

.team-descripttion h3,
.team-descripttion p {
  margin-bottom: 8px;
  color: #fff;
}

.team-descripttion p {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.team-descripttion .social-links {
  justify-content: center;
}

.team-descripttion .social-links a {
  padding: 0 6px;
}

.team-descripttion .sm-icon {
  color: #fff;
}

.team-descripttion .sm-icon:hover {
  color: #ddd;
}

/* === CONTACT-US === */

.contact-card-container {
  display: flex;
  justify-content: space-between;
}

.contact-card {
  flex: 1;
  text-align: center;
  padding: 30px;
}

.contact-card:nth-child(2) {
  border-right: 2px solid rgba(73, 78, 92, 0.2);
  border-left: 2px solid rgba(73, 78, 92, 0.2);
}

.contact-card i {
  margin-bottom: 10px;
}

#contact-form {
  margin-top: 50px;
}

.row-contact-form {
  display: flex;
  text-align: center;
}

.row-contact-form input,
.row-contact-form textarea {
  width: 100%;
  margin-bottom: 16px;
  padding: 10px 14px;
  font-size: 16px;
  border: 2px solid rgba(73, 78, 92, 0.2);
}

.row-contact-form textarea {
  height: 150px;
}

#name {
  margin-right: 16px;
}

/* === MAIN-FOOTER === */

#main-footer {
  padding: 30px 0;
  background-color: #b361f7;
}

.main-footer-content {
  text-align: center;
}

.main-footer-content p {
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  transition: 0.4s;
  background-color: rgba(15, 0, 29, 0.9);
  opacity: 0;
  pointer-events: none;
}

.sidebar .content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 30px;
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  height: 100vh;
  transition: 0.4s;
  background-color: #7b2cbf;
  transform: translateX(250px);
}

/* animation */
.sidebar.active {
  opacity: 1;
  pointer-events: all;
}

.sidebar.active .content {
  transform: translateX(0);
}

.sidebar .close {
  position: absolute;
  top: 16px;
  right: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #ddd;
  border: none;
  background-color: unset;
  transition: 0.2s;
}

.sidebar .close:hover {
  color: #fff;
}

.sidebar ul li {
  margin-bottom: 25px;
  text-align: center;
}

.sidebar ul li:last-child {
  margin-bottom: 0;
}

.sidebar a,
.sidebar .sm-icon {
  color: #fff;
}

.sidebar a:hover,
.sidebar .sm-icon:hover {
  color: #b361f7;
}

.sidebar .social-links {
  width: min-content;
  margin: auto auto 0;
}

@media (min-width: 1200px) {
  .main-container {
    max-width: 1140px;
  }

  #about-image {
    width: 39%;
  }

  #about-text {
    width: 59%;
  }

  .product {
    width: 350px;
  }

  .testimonial-card {
    max-width: 370px;
  }
}

@media (max-width: 991px) {
  .main-container {
    max-width: 720px;
  }

  .navbar {
    display: none;
  }

  .hamburger {
    display: block;
  }

  #about-content {
    display: block;
  }

  #about-image,
  #about-text {
    width: 100%;
  }

  #services-card-container {
    flex-direction: column;
    align-content: center;
  }

  .services-card {
    width: 100%;
  }

  .product {
    width: 340px;
  }

  #testimonials-container {
    display: block;
  }

  .testimonial-card {
    margin: 30px 0;
    max-width: 100%;
  }

  .team-card {
    width: 49%;
  }
}

@media (max-width: 767px) {
  .main-container {
    max-width: 540px;
  }

  #contact-info-container {
    justify-content: space-between;
    width: 100%;
  }

  .contact-info {
    align-items: center;
    font-size: 14px;
    margin: 0;
  }

  #topbar-content .social-links {
    display: none;
  }

  #hero-content h2 {
    font-size: 48px;
  }

  .product {
    width: 100%;
  }

  .contact-card-container {
    display: block;
  }

  .contact-card:nth-child(2) {
    border: none;
  }

  .row-contact-form {
    display: block;
  }

  #name {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  #cta {
    text-align: center;
  }

  .cta-content {
    flex-direction: column;
  }

  .cta-button {
    margin: 32px auto 0;
  }
}

@media (max-width: 479px) {
  #hero-content h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .services-card {
    flex-direction: column;
    text-align: center;
  }

  .services-card i {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .team-card {
    width: 100%;
  }
}
@media (max-width: 320px) {
  #topbar-content {
    height: auto;
    padding: 5px 0;
  }
  #contact-info-container {
    flex-direction: column;
  }
  #contact-info-container .contact-info {
    margin: 0 auto;
  }
}
